{% extends 'base.html.twig' %}

{% block title %}New DepotAnnonce{% endblock %}

{% block body %}
    <h1>Create new DepotAnnonce</h1>

    {{ include('admin_depot_annonce/_form.html.twig') }}

    <a href="{{ path('app_admin_depot_annonce_index') }}">back to list</a>
{% endblock %}
